<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="m-80">
                <p>Welcome to MeetAmore.</p>
                <p>MeetAmore is a system that helps people to find meetups of their interest. MeetAmore allows users to connect with other people, develop new skills, gain help, get themselves out of their comfort zones, and explore their interests. MeetAmore is a website that allows people to form communities and organize community in-person and interactive activities.</p>
                <p>You can go through the meetups section to check the available meetups.</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
