<%- include('../partials/header.ejs') %>
<div class="content">
    <div class="center-container">
        <form style="width: 100%;">
            <div class="event-heading">
                <h3 class="dis-in-bl">Change Password</h3>
                <div class="float-right">
                    <button class="button update-btn" type="submit" formmethod="GET" formaction="/users/profile">Show Profile</button>
                    <button class="button password-btn" type="submit" formmethod="GET" formaction="/users/profile/change-password">Update Password</button>
                </div>
            </div>
        </form>
        <form action = '/users/profile/change-password' method = 'POST' class="mt-20">
            <label for="current_password">Current Password</label>
            <input type="password" id="current_password" name="current_password" class="fixed-width" required>

            <label for="password">New Password</label>
            <input type="password" id="password" name="password" class="fixed-width" minlength="10" maxlength="60" required>

            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" class="fixed-width" minlength="10" maxlength="60" required>
            
            <button class="button submit-btn mb-100">Update Password</button>
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs') %>